.container{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

.row [class*="col-"]{
    color: #fff;
    border: 1px solid #fff;
    min-height: 40px; 
    background-color: #006cfa;   
}

.box{
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
}

.box [class*="col-"]{
    background-color: #00e165;
    border: 1px solid #006cfa;
}

